.about-page {
  padding: 20px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.about-header {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(65, 61, 61, 0.8);
}
.about-header:hover {
  cursor: pointer;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.image img {
  width: 300pxpx; /* Adjust size as needed */
  height: auto;
  border-radius: 10px; 
  border-radius: 200%;/* Optional: for rounded corners */
}
.image img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.about-section {
  flex: 1;
}

.about-section h2 {
  margin-bottom: 10px;
}

.about-section p {
  line-height: 1.6;
  color: #333;
}
